<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <title th:text="${book.title}">Bookstore</title>
</head>
<header>
    <a href="http://localhost:8080/"><img class="Bookstoregif" src="/Bookstoregif.gif"/></a>
    <div class="menu">
        <a href="http://localhost:8080/cart">
            <button>Panier</button>
        </a>
        <a href="http://localhost:8080/create-account">
            <button>Créer un compte</button>
        </a>
        <a href="http://localhost:8080/login">
            <button>Log in</button>
        </a>
    </div>
</header>
<body>

<input type="hidden" id="bookId" th:value="${book.id}"/>

<div class="book" th:object="${book}">
    <div class="title" th:text="${book.title}"></div>
    <div class="author" th:text="${book.author}"></div>
    <div class="description" th:text="${book.description}"></div>
    <img class="image" th:src="@{'data:image/png;base64,' + ${book.imageBase64}}" />
    <div class="price" th:text="${book.price}"></div>

    <button><a th:href="@{/books/cart/(id=${book.id})}">Ajouter au panier</a></button>
    <button><a th:href="@{/update-book/{id}(id=${book.id})}">Modifier ce livre</a></button>
    <button onclick="deleteBook(event)">Supprimer</button>

</div>
<footer>
    <a href="http://localhost:8080/rgpd">Le Règlement Général sur la Protection des Données</a>
    <span>Contact  : </span>
    <a href="http://localhost:8080/contact"><img class="email" src="/email.png"></img></a>
    <a href="https://www.instagram.com/"><img class="instagram" src="/instagram.png"></img></a>

</footer>
</body>
<script>

    function deleteBook(event) {
        event.preventDefault();

        var confirmation = confirm("Êtes-vous sûr de vouloir supprimer ce livre ?");
        if (confirmation) {
            var bookId = document.getElementById('bookId').value;
            fetch('/delete/' + bookId, {
                method: 'DELETE'
            })
                .then(response => {
                        var bookElement = document.querySelector('.book');
                        bookElement.parentNode.removeChild(bookElement);
            window.location.href = '/';
        })
    }
    }

</script>



</html>