<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <title>Votre panier</title>

    <script>
        function increaseQuantity(inputElement) {
            var currentValue = parseInt(inputElement.value);
            inputElement.value = currentValue + 1;
        }

        function decreaseQuantity(inputElement) {
            var currentValue = parseInt(inputElement.value);
            if (currentValue > 0) {
                inputElement.value = currentValue - 1;
            }
        }
    </script>

</head>
<header>
    <a href="http://localhost:8080/"><img class="Bookstoregif" src="/Bookstoregif.gif"/></a>
    <div class="menu">
        <a href="http://localhost:8080/cart"><button>Panier</button></a>
        <a href="http://localhost:8080/create-account"><button>Créer un compte</button></a>
        <a href="http://localhost:8080/login"><button>Log in</button></a>
    </div>
</header>

<body>

<div class="cart-item">
    <div class="book-title" th:text="${book.title}" >Titre du livre</div>
    <div class="quantity">
        <button onclick="decreaseQuantity(this.nextElementSibling)">-</button>
        <input type="number" value="0">
        <button onclick="increaseQuantity(this.previousElementSibling)">+</button>
    </div>
</div>


<footer>
    <a href="http://localhost:8080/rgpd">Le Règlement Général sur la Protection des Données</a>
    <span>Contact  : </span>
    <a href="http://localhost:8080/contact"><img class="email" src="/email.png"></img></a>
    <a href="https://www.instagram.com/"><img class="instagram" src="/instagram.png"></img></a>

</footer>
</body>
</html>