<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Nous contacter</title>
</head>
<header th:replace="~{fragment-header :: header}"></header>
<body>
<div class="contact">
    Pour nous contacter, veuillez nous envoyer un mail à l'adresse suivante : Bookstore@gmail.com
</div>
<footer th:replace="~{fragment-footer :: footer}"></footer>
</body>
</html>