<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <title>Nous contacter</title>
</head>
<header>
    <a href="http://localhost:8080/"><img class="Bookstoregif" th:src="Bookstoregif.gif"/></a>
    <div class="menu">
        <a href="http://localhost:8080/cart"><button>Panier</button></a>
        <a href="http://localhost:8080/login"><button>Log in</button></a>
    </div>
</header>
<body>
<div class="contact">
    Pour nous contacter, veuillez nous envoyer un mail à l'adresse suivante : Bookstore@gmail.com
</div>
<footer>
    <a href="http://localhost:8080/rgpd">Le Règlement Général sur la Protection des Données</a>
    <span>Contact  : </span>
    <a href="http://localhost:8080/contact"><img class="email" th:src="email.png"></a>
    <a href="https://www.instagram.com/"><img class="instagram" th:src="instagram.png"></a>

</footer>
</body>
</html>