<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header>
    <a href="https://localhost:8080/"><img class="Bookstoregif" src="Bookstoregif.gif"/></a>
    <div class="menu">
        <a href="http://localhost:8080/favorites"><button>Favoris</button></a>
        <a href="http://localhost:8080/cart"><button>Panier</button></a>
        <a href="http://localhost:8080/login"><button>Log in</button></a>
    </div>
</header>
<body>
<footer>
    <span>Contact  : </span>
    <a href="http://gmail.com"><img class="email" src="email.png"></img></a>
    <a href="https://www.instagram.com/"><img class="instagram" src="instagram.png"></img></a>
</footer>
</body>
</html>