<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <title>S'inscrire</title>
</head>
<header>
    <a href="http://localhost:8080/"><img class="Bookstoregif" th:src="Bookstoregif.gif"/></a>
    <div class="menu">
        <a href="http://localhost:8080/cart"><button>Panier</button></a>
        <a href="http://localhost:8080/login"><button>Log in</button></a>
    </div>
</header>
<body>

<form method="post" th:action="@{/create-account}">
    <label for="login">Nom d'utilisateur:</label>
    <input type="text" id="login" name="login" required><br>

    <label for="password">Mot de passe:</label>
    <input type="password" id="password" name="password" required><br>

    <label for="confirmPassword">Confirmez le mot de passe:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required><br>

    <input type="submit" value="S'inscrire">
</form>

<footer>
    <a href="http://localhost:8080/rgpd">Le Règlement Général sur la Protection des Données</a>
    <span>Contact  : </span>
    <a href="http://localhost:8080/contact"><img class="email" th:src="email.png"></img></a>
    <a href="https://www.instagram.com/"><img class="instagram" th:src="instagram.png"></img></a>

</footer>
</body>
</html>