<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>S'inscrire</title>
</head>
<header th:replace="~{fragment-header :: header}"></header>
<body>

<form method="post" th:action="@{/create-account}">
    <label for="login">Nom d'utilisateur:</label>
    <input type="text" id="login" name="login" required><br>

    <label for="password">Mot de passe:</label>
    <input type="password" id="password" name="password" required><br>

    <label for="confirmPassword">Confirmez le mot de passe:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required><br>

    <input style="justify-content: center" type="submit" value="S'inscrire">
</form>

<footer th:replace="~{fragment-footer :: footer}"></footer>
</body>
</html>